body{
    background-color: #FFFFFF;
    color: #212121;
    font-family: 'Roboto';
    display:flex;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style-type: none;
}
button{
    border: none;
}
button:hover{
    cursor: pointer;
}
#white h2{
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.03em;
}
#team h2{
    font-size: 36px;
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.03em;
}
.container{
    width: 1600px;
    padding-right: 215px;
    padding-left: 215px;
}
.blue-text,
address p:hover,
address p:focus,
a:hover,
a:focus,
.contact-top a:hover,
.contact-top a:focus{
    color: #2196F3
}
.black-text{
    color: #212121;
}
.white-text{
    color: #FFFFFF;
}

/*header*/
header{
    border-bottom: 1px solid #ECECEC;
}
header .container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
header .contact-top{
    width:300px;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 119%;
    letter-spacing: 0.03em;
    display:flex;
}
nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0.02em;
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: space-between;
}
nav a{
    padding-left: 15px;
    padding-right: 15px;
}
.contact-top{
    display: flex;
    align-content: space-between;
    align-items: center;
}
.contact-top a {
    color: #757575;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}
/*footer*/
footer {
    background-color: #2F303A;
}

address p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}

.contact-bottom-add {
    color: #ffffff;
    margin:0;
    padding-top: 20px;
    padding-bottom: 9px;
}

.contact-bottom-mail {
    text-decoration-line: underline;
    color: #ffffff99;
    margin: 0;
}

.contact-bottom-tel {
    color: #ffffff99;
    padding-bottom: 60px;
    margin: 0;
    padding-top:9px;
}
footer .logo{
    margin:0;
    padding-top:60px;
}
/*wszystkie linki*/
a{
    text-decoration: none;
    color: #212121;
    display: inline-block;
    padding: 1px;
}

/*id order w index.html*/
#order {
    background-color: #2F303A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:200px 425px;
}
#order ul{
    
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
#order h1 {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
#order button {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px #00000026;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    text-align: center;
    padding: 10px 41px;
    letter-spacing: 0.06em;
    margin-left:200px;
}

/*opisy lorem w index.html*/
.lorem-index{
    font-size: 14px;
    letter-spacing: 0.03em;
    display: flex;
}
.lorem-index p{
    line-height: 171%;
    color:#757575;
}
ul.lorem-index{
    padding-left: 0;
    padding-bottom: 0;
    margin:0;
}
.lorem-index li{
    padding: 0 7px;
}
/*czym się zajmujemy*/
.what-we-do{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top:0px;
}
.what-we-do ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:0px;
}

/*id team w index.html*/
#team {
    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 119%;
    letter-spacing: 0.03em;
    padding-top: 70px;
}
#team ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}
#team li {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    height:368px;
    width: 270px;
}
#team h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin:0;
    padding-top: 30px;
}
#team p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 30px;
    padding-top: 10px;
    margin:0;
}
/*przyciski w portfolio.html*/
.filter-buttons{
    line-height: 162%;
    text-align: center;
    display: flex;
    align-items: row;
    justify-content: center;
    
}

.filter-buttons button{
    background-color: #F5F4FA;
    border-radius: 4px;
    padding: 10px 41px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom: 34px;
}

.filter-buttons button:hover,
.filter-buttons button:focus{
    background-color: #2196F3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px #00000014, 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*obrazy z podpisami w portfolio.html*/
.projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;   
}
.projects li{
    width: 370px;
    height:404px;
    margin-bottom:30px;
}
.projects h4{
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 20px;
    margin-bottom: 0;
}
.projects p{
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.03em;
    padding-left: 24px;
    margin-bottom: 20px;
    margin-top: 4px;
}
.projects li{
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

